body{
    font-family: Arial;
}
h1{
    font-size: 32pt;
    text-align: center;
}
p{
    font-size: 14pt;
}
ul{
    font-size: 14pt;
    list-style: square;
}
.picture{
    text-align: center;
}
p.greeting{
    font-size: 24pt;
}
.picture img{
    width: 37%;
}
address{
    text-align: right;
}